<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgy.hotel.dao.UserMapper">

	<resultMap type="User" id="userRM" autoMapping="true">
		<id column="user_id" property="userId" />
	</resultMap>

	<insert id="saveUser">
		insert into
		tb_user(username,nickname,password,role_id) values(
		#{username},#{nickName},#{password},#{roleId})
	</insert>

	<select id="findUser" resultMap="userRM">
		select * from tb_user where
		username = #{username} and password = #{password} limit 1
	</select>

	<select id="findAllTenant" resultMap="userRM">
		select * from tb_user where
		role_id != 0
	</select>

	<delete id="deleteUser">
		delete from tb_user where user_id = #{userId}
	</delete>

	<select id="findAllAdmin" resultMap="userRM">
		select * from tb_user where role_id != 1
	</select>
	<update id="updatePwd">
		update tb_user set password = #{newPwd} where user_id = #{userId}
	</update>
</mapper>